<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Product Checkout{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-light bg-light">
            <div class='container'>
                <a class="navbar-brand mr-auto" href="#">
                    <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
        Flying Scissors Salon
                </a>
                <span><i class="fa-solid fa-cart-shopping"></i></span>
            </div>
        </nav>
        <div class='container'>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
