<div class="card m-2 py-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ product.getName() }}</h5>
    <p class="card-text">{{ product.getDescription() }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>